@page "/{authorName}/ForYou"
@using Chirp.Core
@using Chirp.Web.Pages.Shared
@using System.Security.Claims
@model Chirp.Web.Pages.ForYouModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var authorName = (string)HttpContext.GetRouteValue("authorName")!;
    Model.author = @User.Identity?.Name!;
}

<div>
    <div style="justify-content: space-between;">
        <h2> For You </h2>
        
        @(await Html.PartialAsync("Shared/PageNav", @Model.PageNav))
    

    @if (Model.Cheeps != null && Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
                {
                    
                    @(await Html.PartialAsync("Shared/Cheep", @Model.GenerateCheepModel(cheep)))
                }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @(await Html.PartialAsync("Shared/PageNav", @Model.PageNav))
    
</div>
