@page "/PageInfo"
@using Chirp.Core
@using System.Security.Claims
@model Chirp.Web.Pages.PageInfoModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
}

<!--Name and email-->
<div>
    <h2>@User.Identity?.Name</h2>
    @if (Model.Author != null)
    {
        <h4>@Model.Author.Email</h4>
    }
    else
    {
        <h4>No email available</h4>
    }
</div>

<!-- Display followers and following count -->
<div class="followers">
    <a>Followers: @Model.FollowersCount(User.Identity?.Name!)</a>
    <a>Following: @Model.FollowingCount(User.Identity?.Name!)</a>
</div>

<!--forget me button-->

<div class="forgetme">
    <form method="post" action="?h=h">
        @Html.AntiForgeryToken()
        <button type="submit" class="btn btn-danger"
            style="height: 30px; width: 100px; background-color: #f44336;">Forget me</button>
    </form>
    <style>
        .forgetme {
            text-align: center;
        }
    </style>
</div>

<!--display followers and following-->
<div style="display: flex; justify-content: space-between;">
    <div class="followers">
        <h3>Followers</h3>
        @if (Model.Followers != null)
        {
            @foreach (var follower in Model.Followers)
            {
                <div style="list-style-type: none;">
                    <a href="/@follower.Name">@follower.Name</a>
                </div>
            }
            if (Model.Followers.Count() == 0)
            {
                <em>You have no followers.</em>
            }
        }
        else
        {
            <em>You have no followers.</em>
        }
    </div>
    <div class="following">
        <h3>Following</h3>
        @if (Model.Following != null)
        {
            @foreach (var following in Model.Following)
            {
                <div style="list-style-type: none; margin-top: 3px;">
                    <a href="/@following.Name">@following.Name</a>
                </div>
            }
            if (Model.Following.Count() == 0)
            {
                <em>You are not following anyone.</em>
            }
        }
        else
        {
            <em>You are not following anyone.</em>
        }
    </div>
</div>

<!--display cheeps for the user-->
<div class="cheeps">

    @if (Model.Cheeps != null && Model.Cheeps.Any(c => c.AuthorName == User.Identity?.Name))
    {
        <p>To view all your cheeps, go to: <a href="/@User.Identity?.Name">my timeline</a></p>

        <legend style="margin: 0 auto;">Most recent cheeps:</legend>

        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps.Where(c => c.AuthorName == User.Identity?.Name))
            {
                @(await Html.PartialAsync("Shared/Cheep", @Model.GenerateCheepModel(cheep)))
            }
        </ul>
    }
    else
    {

        <div style="margin-top: 20px;">
            <legend style="margin: 0 auto;">Most recent cheeps:</legend>
            <div style="margin-top: 5px;"></div>
            <em>You have no cheeps so far.</em>
        </div>
    }
</div>
