@page "/"
@using Chirp.Core
@using Chirp.Web.Pages.Shared
@using System.Security.Claims
@model Chirp.Web.Pages.PublicModel
@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    Model.author = User.Identity?.Name;
}

@* file that has HTML markup with C# code using Razor syntax. *@

<div>
    <h2>Public Timeline</h2>
    @(await Html.PartialAsync("Shared/PageNav", @Model.PageNav))
    <div class="follow-buttons">
        @if (User.Identity.IsAuthenticated)
        {
            @(await Html.PartialAsync("CreateCheep", @Model.CreateCheep))
        }
    </div>

    @if (Model.Cheeps != null && Model.Cheeps.Any())
    {
        <ul class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
            @(await Html.PartialAsync("Shared/Cheep", @Model.GenerateCheepModel(cheep)))
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }

    @(await Html.PartialAsync("Shared/PageNav", @Model.PageNav))
</div>
