@page "/{author}"
@using Chirp.Core
@model Chirp.Web.Pages.UserTimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = (string)HttpContext.GetRouteValue("author");
    <p>Author: @routeName</p> <!-- Add this line to check the value -->
}

<div>
    <div style="display: flex;justify-content: space-between;">
        <h2> @routeName's Timeline </h2>
        @(await Html.PartialAsync("Shared/PageNav", Model.PageNav))
    </div>

    <div>
        <a>Following: @(Model.FollowingCount(routeName))</a>
        <a>Followers: @(Model.FollowersCount(routeName))</a>
    </div>

    @if (Model.Cheeps != null && Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
                <li>
                    <p>
                        <strong>
                            <a href="/@cheep.AuthorName">@cheep.AuthorName</a>
                        </strong>
                        @cheep.Message
                        <small>&mdash; @cheep.TimeStamp</small>
                    </p>
                </li>
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @(await Html.PartialAsync("Shared/PageNav", Model.PageNav))
</div>
</div>
