@page "/{author}"
@using Chirp.Core
@model Chirp.Web.Pages.UserTimelineModel

@{
    ViewData["Title"] = "Chirp!";
    Layout = "Shared/_Layout";
    var routeName = (string)HttpContext.GetRouteValue("author");
    Model._author = User.Identity?.Name;
    <p>Author: @routeName</p> <!-- Add this line to check the value -->
}

<div>
    <div style="display: flex;justify-content: space-between;">
        <h2> @routeName's Timeline </h2>
        @(await Html.PartialAsync("Shared/PageNav", Model.PageNav))
    </div>

    @(await Html.PartialAsync("CreateCheep", @Model.CreateCheep))

    @if (Model.Cheeps != null && Model.Cheeps.Any())
    {
        <ul id="messagelist" class="cheeps">
            @foreach (var cheep in Model.Cheeps)
            {
            @(await Html.PartialAsync("Shared/Cheep", @Model.GenerateCheepModel(cheep)))
            }
        </ul>
    }
    else
    {
        <em>There are no cheeps so far.</em>
    }
    @(await Html.PartialAsync("Shared/PageNav", Model.PageNav))
</div>

