@using Chirp.Core
@using Chirp.Web.Pages.Shared
@using System.Security.Claims
@model Chirp.Web.Pages.Shared.CheepModel

<li class="cheep-item">
    <div class="cheep-content">
        <strong>
            <a href="/@Model.cheep.AuthorName">@Model.cheep.AuthorName</a>
        </strong>
        <p>
            @Model.cheep.Message
            <br />
            <small>&mdash; @Model.cheep.TimeStamp</small>
        </p>
        <div style="justify-content: flex-end; display: flex;">
        @if (User.Identity!.IsAuthenticated && Model.cheep.AuthorName != User.Identity.Name)
        {
            @if (await Model.IsFollowing(User.Identity?.Name!, @Model.cheep.AuthorName))
            {
                <form method="post" action=@("?uf=" + @User.Identity?.Name)>
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="UnFollow" value="@Model.cheep.AuthorName"/>
                    <input type="submit" value="Unfollow" class="btn-unfollow" />
                </form>
            }
            else
            {
                <form method="post" action=@("?f=" + @User.Identity?.Name)>
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Follow" value="@Model.cheep.AuthorName"/>
                    <input type="submit" name="submit" value="Follow" class="btn-follow" />
                </form>
            }
            <div>
                <label>&nbsp;</label>
            </div>
            <div style="display:flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                    @(await Model.GetReactionCount(Reactiontype.Like))
                <form name="Reaction" method="post">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Like" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128077;" class="submit"/>
                </form>
                </div>
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                    @(await Model.GetReactionCount(Reactiontype.Dislike))
                <form name="Reaction" method="post">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Dislike" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128078;" class="submit"/>
                </form>
                </div>
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                    @(await Model.GetReactionCount(Reactiontype.Love))
                <form name="Reaction" method="post">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Love" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128525;" class="submit"/>
                </form>
                </div>
            </div>
        } 
        else 
        {
            <div style="display:flex; flex-direction: row;">
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                @(await Model.GetReactionCount(Reactiontype.Like))
                <form name="Reaction">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Like" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128077;" class="submit"/>
                </form>
                </div>
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                @(await Model.GetReactionCount(Reactiontype.Dislike))
                <form name="Reaction">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Dislike" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128078;" class="submit"/>
                </form>
                </div>
                <div style="display: flex; flex-direction: column-reverse; text-align: center; font-size: 20px;">
                @(await Model.GetReactionCount(Reactiontype.Love))
                <form name="Reaction">
                    @Html.AntiForgeryToken()
                    <input hidden type="text" name="Love" value="@Model.cheep.Id"/>
                    <input type="submit" name="submit" value="&#128525;" class="submit"/>
                </form>
                </div>
            </div>
        }
        </div>
    </div>
</li>
